.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--space-screen-x);
}

.label {
  font-size: var(--font-size-lead);
  font-weight: 500;
  color: var(--color-text);
}
